body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Heebo";
}
#dice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-family: monospace;
    font-size: 3rem;
    color: #555;
    margin: 20px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    position: relative;
    &.w1 {
      transform: skew(0deg, -20deg) rotatey(45deg) translate(345px, 69px);
    }
    &.w2 {
      transform: rotatex(68deg) rotatez(45deg) translate(5px, -206px);
      z-index: 1;
    }
    &.w3 {
      transform: skew(0deg, 20deg) rotatey(-45deg);
      margin-right: -10px;
      z-index: 1;
    }
    &.w4 {
      transform: skew(0deg, -20deg) rotatey(45deg);
      margin-left: -10px;
      z-index: 1;
    }
    &.w5 {
      transform: rotatex(-68deg) rotatez(-45deg) translate(-170px, -45px);
      z-index: 0;
    }
    &.w6 {
      transform: skew(0deg, 20deg) rotatey(-45deg) translate(-335px, 65px);
      z-index: 0;
    }
  }
  .box {
    display: flex;
    &:hover {
      span {
        transform: initial;
        margin: 5px;
        animation: 0.4s spin ease-in-out;
      }
    }
  }
}

#button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  text-decoration: none;
  display: block;
  padding: 15px;
  border-radius: 50px;
  font-weight: 900;
  text-align: center;
  margin: 30px;
  width: 200px;
  transition: all 0.3s ease;
}

.btn-solid {
  background-image: linear-gradient(130deg, #fc00ff 0%, #00dbde 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  font-weight: 900;
}

.effect-scale:hover {
  transform: scale(1.05);
}
