body {
  height: 100vh;
}
#dice1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
    background-color: #fff;
    font-family: monospace;
    font-size: 3rem;
    color: #555;
    margin: 35px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    position: relative;
    &.d1 {
      transform: skew(0deg, -20deg) rotatey(45deg) translate(345px, 69px);
    }
    &.d2 {
      transform: rotatex(68deg) rotatez(45deg) translate(43px, -161px);
      z-index: 1;
    }
    &.d3 {
      transform: skew(0deg, 20deg) rotatey(-45deg);
      margin-right: -7.8px;
      z-index: 1;
    }
    &.d4 {
      transform: skew(0deg, -20deg) rotatey(45deg);
      margin-left: -7.8px;
      z-index: 1;
    }
    &.d5 {
      transform: rotatex(-68deg) rotatez(-45deg) translate(-170px, -45px);
      z-index: 0;
    }
    &.d6 {
      transform: skew(0deg, 20deg) rotatey(-45deg) translate(-335px, 65px);
      z-index: 0;
    }
  }
  .box1 {
    display: flex;
  }
}
