* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div--Main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 250, 255);
}

.main--Main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img--main--Main {
  width: 30%;
  height: 40vh;
  padding: 10px;
}
