@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e4e4;
  background-size: cover;
}

#headN {
  text-align: center;
  margin-top: 6%;
  font-size: 250%;
}

#name {
  font-size: 120%;
}

body {
  margin: 0;
}

.slide-navigation button:nth-child(1) {
  display: none;
}

.slide-navigation button:nth-last-child(1) {
  display: none;
}

.slide-navigation button {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  width: 5px;
  height: 15px;
  margin: 0 5px;
  font-size: 0px;
  cursor: pointer;
}

.slide-navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0px;
}

.slide-navigation button:disabled {
  background-color: black;
  border: 1px solid white;
}

.firstP {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); /*살짝 투명한 검정으로 배경색*/
  width: 100%;
  height: 100%;
  position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
}

.firstS {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main4.png);
  object-fit: cover;
  object-position: 50% 50%;
  width: 50;
  background-repeat: no-repeat;
  display: block;
  color: #ffffff;
  text-align: center;
}

/* .floating {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  justify-content: center;
  flex-direction: column;
  font-size: 100%;
  text-align: center;
  border-radius: 50px;
  height: 10%;
  width: 10%;
  background-color: black;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(-50%, 0px);
  }
  65% {
    transform: translate(-50%, 30px);
  }
  to {
    transform: translate(-50%, -0px);
  }
} */

/* .firstT {
  animation-name: up;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 3;
    transform: none;
  }
} */
