.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#headN {
  text-align: center;
  margin-top: 6%;
  font-size: 250%;
}

#name {
  font-size: 120%;
}


.dark {
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 277.8%;
  height: 177.5%;
  background-color: rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/
  position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
}

div {
  background-size: cover;
  width: 60%;
  height: 75%;
  position: absolute;
}

div.p1 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main1.jpg);
  top: 0%;
  left: 0%;
  animation: up 0.5s ease-in-out;
}

div.p2{
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main2.jfif);
  top: 50%;
  left: 5%;
  z-index: 1;
  animation: up 0.8s ease-in-out;
}

div.p3{
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main3.jfif);
  top: 102%;
  left: 0%;

  animation: up 1s ease-in-out;
}

div.p4 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main4.jfif);
  top: 95%;
  left: 50%;
  z-index: 1;
  animation: up 1s ease-in-out;
}

div.p5{
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main5.jfif);
  top: 5%;
  left: 50%;
  z-index: 2;
  animation: up 1s ease-in-out;
}

div.p6{
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main6.jfif);
  top: 50%;
  left: 148%;

  z-index: 5;
  animation: up 0.8s ease-in-out;
}

div.p7 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main7.jfif);
  top: 50%;
  left: 70%;
  z-index: 5;
  animation: up 0.8s ease-in-out;
}

div.p8{
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main8.jfif);
  top: 5%;
  left: 167%;
  z-index: 3;
  animation: up 1s ease-in-out;
}

div.p9{
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main9.jfif);
  top: 97%;
  left: 167%;
  z-index: 2;
  animation: up 1s ease-in-out;
}

div.p10 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main10.jfif);
  top: 2%;
  left: 217%;
  animation: up 1s ease-in-out;
}

div.p11 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main11.jfif);
  top: 52%;
  left: 212%;
  z-index: 1;
  animation: up 0.8s ease-in-out;
}

div.p12 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main12.jfif);
  top: 102%;
  left: 217%;
  animation: up 0.5s ease-in-out;
}

div.p13 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main13.jfif);
  top: 102%;
  left: 75%;
  animation: up 0.5s ease-in-out;
}

div.p14 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main14.jfif);
  top: 102%;
  left: 142%;
  animation: up 0.5s ease-in-out;
}

div.p15 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main15.jfif);
  top: 0%;
  left: 75%;
  
  animation: up 0.5s ease-in-out;
}

div.p16 {
  background-image: url(C:\Users\SW2146\Desktop\react\강서구\gangs\public\main16.jfif);
  top: 0%;
  left: 142%;
  animation: up 0.5s ease-in-out;
}

@keyframes up{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}